<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.login.id_for_label }}" 
                            class="form-label">{{ form.login.label }}</label>
                        <input type="text" class="form-control"
                            id="{{ form.login.id_for_label }}"
                            name="{{ form.login.html_name }}"
                            placeholder="Username">
                        {% if form.login.errors %}
                            <div class="text-danger">{{ form.login.errors|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}"
                            class="form-label">{{ form.password.label }}</label>
                        <input type="password" class="form-control"
                            id="{{ form.password.id_for_label }}"
                            name="{{ form.password.html_name }}"
                            placeholder="Password">
                        {% if form.password.errors %}
                            <div class="text-danger">{{ form.password.errors|safe }}</div>
                        {% endif %}
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                            value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center mt-4">
                        <button class="btn btn-primary btn-lg"
                            type="submit">{% trans "Log In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}