{# Extend base template and load required template tags #}
{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{# # Define page title block #}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {# Center content with Bootstrap classes #}
        <div class="col-md-8 mt-3 offset-md-2">
            {# Logout confirmation message #}
            <h3>{% trans "See ya later, navigator! You've successfully escaped... I mean, logged out" %}</h3>
            {# Login redirect link #}
            <p>{% blocktrans %}Click <a class="link" href="{{ login_url }}">Log
                    In</a>
                to re-enter the community.{% endblocktrans %}</p>
            </p>
        </div>
    </div>
</div>
{% endblock %}