{# Template for user signup page extending base template #} 
{% extends "base.html" %}

{#Load required template tags#}
{% load i18n %}
{% load account socialaccount %}

{# Define page title #}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{# Main content block  #}
{% block content %}
<div class="container">
    {# Header section with welcome message #}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>
            <p>{% blocktrans %}Welcome to join the NederLearn Community!
                <p>Not convinced yet? Read <a class="link" href="#">About
                        Us</a>
                    first.{% endblocktrans %}</p>
            </p>
        </div>
    </div>
    {# Signup form section #}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {# Form with CSRF protection and redirect handling #}
            <form class="signup" id="signup_form" method="post"
                action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                    value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right"
                    type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}