{% extends 'base.html' %}
{% block content %}

{# Comments Section #}
{# --------------- #}
{# Display user comments with timestamps #}
<div class="row">
    <div class="col-md-8 card mb-4 mt-3">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.user.username }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            <!--TODO: Add implementation code here -->
        </div>
    </div>
</div>
{% endblock content %}